*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html , body{
  height: 100%;
  width: 100%;
}
html{
scroll-behavior: smooth;
}
body{
font-family: "Open Sans", serif;
font-size: 12px;
}
a{
text-decoration: none;
}
button{
border: none;
background: none;
font-family: "Open Sans", serif;
}
img{
width: 100%;
height: 100%;
}
ul{
list-style: none;
}
fieldset{
border: none;
}
.display-none{
  display: none;
}


.main-bg{
background: url("./assets/main-bg.jpg")  bottom/cover no-repeat;
background-attachment: fixed;
min-height: 100%;

}
/* nav */
nav{
  background: #000000e6;
  padding: 20px;
  
}
.nav-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav-logo{
  width: 100%;
  max-width: 180px;
}
.toggle-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  font-size: 16px
}
.toggle-menu i{
  font-size: 34px;
}
.nav-header-links{
  color: white;
  align-items: center;
  gap: .5rem;
  display: none;
}
.nav-header-links a{
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-header-links i{
  font-size: 25px;
  font-weight: 400;
}
.nav-bottom{
  padding-top: 1.5rem;
  color: white;
  font-size: 16px;
  font-weight: 400;
  display: none;
  gap: 1rem
}
.nav-bottom h3{
  font-weight: 400;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 16px;
  padding-bottom: 10px;
}
.nav-bottom h3:hover{
cursor: pointer;
border-bottom: 3px solid white;
}
.nav-item-active{
  border-bottom: 3px solid white;
}
.nav-bottom i{
  font-size: 26px;
}
.nav-bottom a{
  color: white;
  width: 100%;
}
.online-banking,.other-resources{
  position: relative;
}
.online-banking ul,.other-resources ul{
  position: absolute;
  top: 100%;
  left: 0;
  background: #2E2E2E;
  border: 1px solid white;
  min-width: 200px;
}
.nav-bottom ul li{
  padding: 10px;
  transition: all .5s ease;
}
.nav-bottom li:hover{
  background: #01868F
}
/* sidebar */
.sidebar-container{
  width: 100%;
  position: fixed;
  
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.34);
  
}
.sidebar{
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: #f5f5f5;
  margin-left: auto;
  transition: all .5s ease;
  transform: translateX(100%);
  overflow-y: auto;
}
.sidebar{
  overflow: scroll; /* Enable scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
.sidebar-active{
  transform: translateX(0%);
  transition: all .5s ease;
}
.sidebar-top{
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid #BDBDBD;
}

.sidebar-top i{
  font-size: 24px;
  color: #424242;
  cursor: pointer;
}
.sidebar-list{
  font-size: 16px;
  color: #212121;
  transition: all .5s ease;
  border-bottom: 1px solid #BDBDBD;
}
.sidebar-list h3{
  font-weight: 400;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .5s ease;
  font-size: 16px;
}
.sidebar-list h3:hover{
  background: #44B9C4;
  color: black;
}
.sidebar-list-active{
  background: #44B9C4;
  color: black;
}

.sidebar-list a{
  color: #212121;
}
.sidebar-list ul{
  background: #E0E0E0;
  transition: all .5s ease;
  max-height: 0;
  overflow: hidden;
}
.sidebar-list li{
  padding:  8px 8px 8px 72px;
  transition: all .5s ease;
}
.sidebar-list li:hover{
  background: #44B9C4;
  color: black;
}
.sidebar-list .sidebar-list-active + ul {
  max-height: 500px; /* Set max height when expanded */
}

/* Rotate icon on expansion */
.sidebar-list-active .ri-arrow-down-wide-fill {
  display: none; /* Hide the down icon when expanded */
}

.sidebar-list-active .ri-arrow-up-wide-fill {
  display: block; /* Show the up icon when expanded */
}
.sidebar-links a{
padding: 16px;
transition: all .5s ease;
color: #212121;
font-size: 16px;
display: flex;
align-items: center;
gap: 1rem;
}
.sidebar-links i{
  font-size: 25px;
  color: #424242;
}
.sidebar-links a:hover{
  background: #44B9C4;
}
.sidebar-links a:nth-child(5) span:last-child{
  flex-grow: 1;
  display: flex;
  justify-content: end;
}


/* form */
.form-section{
  padding: 70px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container{
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.95);
  padding-block: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.114);

}
.form-container form{
  display: grid;
  gap: 1rem;
  margin-block: 30px;
  padding-inline: 30px;
}
.logo-header{
  padding-bottom: 1rem;
}
.logo-header img{
width: 100%;
display: block;
max-width: 291px;
margin: 0 auto;
}
.error-msg{
  font-size: 16px;
  background-color: white;
  padding: 12px 45px 12px 12px;
  border: 1px solid #dd3435;
  border-radius: 3px;

}
.error-msg i{
  font-size: 1.5rem;
  color: #dd3435;
}
.error-msg >div{
  display: flex;
  gap: 5px;
}
.error-msg ul{
  list-style: disc;
  padding-left: 40px;
  margin-top: 1rem;
}
.login-form fieldset{
  display: grid;
  gap: 7px;
  font-size: 14px;
}
.login-form  label{
  color: #424242;
}
.login-form input{
  padding:  12px;
  font-size: 14px;
}
.form-check{
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;

}
.form-check input{
  width: 18px;
  height: 18px;
 
}
.login-form input:focus{
  outline: none;
}
.login-form fieldset input{
  width: 100%;
}
.login-form fieldset:focus-within > div{
border: .1rem solid #01868F;
padding: 2px;
border-radius: 4px;
background-color: white;
box-shadow: 0 0 6px #94F7FE;
}

.login-btn{
  margin-top: 12px;
  padding: 10px 20px;
  background: #44b9c4;
  border-radius: 4px;
  border: 1px solid #01575C;
  cursor: pointer;
  transition: all .5s ease;
  
}
.login-btn:hover{
  background: #01575C;
  color: white;
}
.form-links{
  display: grid;
  align-items: center;
  justify-content: center;
}
.form-links >div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-links a{
  font-size: 14px;
  color: #01868f;
  text-align: center;
  border-bottom: .1rem solid #01868f;
  transition: all .5s ease;
}
.form-links a:hover{
  padding-bottom: 3px;
  border-bottom: .1rem solid black;
}
.form-footer{
  border-top: .1rem solid #E0E0E0;
  padding: 30px;
}
.form-footer ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.form-footer li a{
  font-size: 14px;
  color: #01868f;
  text-align: center;
  border-bottom: .1rem solid #01868f;
  transition: all .5s ease;
}
.form-footer li a:hover{
  padding-bottom: 3px;
  border-bottom: .1rem solid black;
}

/* footer */
footer{
  padding: 20px;
  background: #191919e6;
}
.footer-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.footer-top button{
  width: 100%;
  max-width: 230px;
  font-size: 14px;
  padding: 10px 20px;
  background: #44b9c4;
  border-radius: 4px;
  border: 1px solid #01575C;
  cursor: pointer;
  transition: all .5s ease;
}
.footer-top button:hover{
  background: #01575C;
  color: white;
}
.footer-top button:nth-child(2){
  opacity: 0.2;
  color: white;
}
.footer-links-container{
  padding: 2rem 0;
}
.footer-links,.footer-links-container{
  display: grid;
  gap: 1rem;
}
.footer-links >div{
  display: grid;
}
.footer-links a{
  font-size: 15px;
  color: white;
  display: inline-block;
  border-bottom: 2px solid white;
  width: fit-content;
  transition: all .5s ease;
}
.footer-links a:hover{
  color: #FDE5AA;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}
.footer-links >div:nth-child(2){
  color: white;
  font-size: 17px;
  display: grid;
  gap: 1rem;
}
.social-links{
  display: grid;
  gap: 1rem;
}
.social-links >div:first-child{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.social-links >div:first-child img{
  max-width: 40px;
}
.social-links >div:nth-child(2) p{
  color: white;
  margin-block: 12px;
  font-size: 12px;
}
.social-links >div:nth-child(2) >div{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-links >div:nth-child(2) >div img{
  max-width: 130px;
}
.footerhr{
  width: 100%;
  height: 2px;
  background: #c2c2c2
}

.footer-bottom{
  display: grid;
  gap: 10px;
  font-size: 12px;
  color: white;
  padding-top: 1rem;
}
.footer-bottom img{
  max-width: 100px;
  width: 100%;
}
.footer-bottom div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-bottom div img{
  max-width: 86px;
  width: 100%;
  max-height: 40px;
}
.footer-bottom-link{
font-size: 12px;
width: fit-content;
text-decoration: underline;
color: white;
transition: all .2s ease;
}
.footer-bottom-link:hover{
  color: #FDE5AA;
  padding-bottom: 1px;
  text-decoration-color: black;
}
@media screen and (min-width:550px) {
  .footer-top{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-links{
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom{
  display: flex;
align-items: center;
flex-wrap: wrap;
  }
  
}
@media screen and (min-width:725px) {
  .social-links{
    grid-template-columns: 1fr 1fr;
  }

}
@media screen and (min-width:768px) {
  nav{
    padding-bottom: 0;
  }
  .nav-bottom{
    display: flex;
  }
  .toggle-menu{
    display: none;
  }
  .nav-header-links{
    display: flex;
  }
  .nav-header-link{
    display: none;
  }
  .sidebar-container{
    display: none;
  }
  footer{
    padding-inline: 40px;
  }
  .footer-links >div:first-child{
    display: grid;
    gap: .5rem;
  }
  .footer-links>div:last-child{
    flex-grow: 1;
    display: grid;
    justify-content: center;
  }
  .footer-top{
    flex-direction: row;
    justify-content: center;
  }
  .social-links{
    grid-template-columns: 1fr;
  }
  .social-links >div:first-child{
    justify-content: space-between;
  }
  .footer-links-container{

    grid-template-columns: 70% 1fr;
  }
  .footer-links{
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom{
    gap: 2rem;
  }


}
@media screen and (min-width:1200px) {
  .nav-header-link{
    display: block;
  }
  .footer-bottom img{
    width: 100px;
  }
  .footer-bottom div img{
    width: 86px;
  }
  .footer-bottom{
    flex-wrap: nowrap;
    gap: 2rem;
  }
  .footer-p,.browsing-code-link{
    white-space: nowrap;
  }
}